---
import "../styles/global.css";

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Base Meta Tags -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="index, follow" />

    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="title" content="Quick Links - Monicah Ajeso" />
    <meta
      name="description"
      content="Quick links about me, Monicah Ajeso, Frontend Developer."
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content="Quick Links - Monicah Ajeso" />
    <meta
      property="og:description"
      content="Quick links about me, Monicah Ajeso, Frontend Developer."
    />
    <meta property="og:image" content="https://raw.githubusercontent.com/Ajeso/preview/master/src/images/monicah-ajeso-links-og-image.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content="Quick Links - Monicah Ajeso" />
    <meta
      property="twitter:description"
      content="Quick links about me, Monicah Ajeso, Frontend Developer."
    />
    <meta property="twitter:image" content="https://raw.githubusercontent.com/Ajeso/preview/master/src/images/monicah-ajeso-links-og-image.png" />
  </head>
  <body
    class="bg-gradient-to-r from-blue-300 to-violet-400 flex flex-col items-center justify-center h-screen"
  >
    <slot />
  </body>
</html>
